//@font-face {
//  font-family: 'AvenirBla_IE';
//  src: url("../fonts/AvenirLTStd/AveniBla.eot") format("opentype");
//}

//@font-face {
//  font-family: 'AvenirBla';
//  src: url("../fonts/AvenirLTStd/AvenirLTStd-Black.otf") format("opentype");
//}

//@font-face {
//  font-family: 'AvenirMed_IE';
//  src: url("../fonts/AvenirLTStd/AveniMed.eot") format("opentype");
//}

@font-face {
  font-family: 'AvenirMed';
  src: url("../fonts/AvenirLTStd/AvenirLTStd-Medium.otf") format("opentype");
}

.pager li a {
  @extend .button;
  @extend .tiny;
}
        
// Share Feature.

.social-share { 
  position:relative;
  margin-bottom: emCalc(15px);
  margin-top: emCalc(15px);

  a {
    // Ugly absolute positioning to keep them behaved...
    position:absolute;
    top: 0px;
    height: 19px;                        /* be sure to set height & width */
    width: 0;
    display: inline-block;
    overflow: hidden;
  }

  a.social-share-facebook {
    left: 0px;
    padding-left: 12px;
    background: url(../images/facebook.png) no-repeat;
  }

  a.social-share-googleplus {
    left: 25px;
    padding-left: 20px;
    background: url(../images/googleplus.png) no-repeat;
  }

  a.social-share-twitter {
    left: 54px;
    top: 2px;
    padding-left: 18px;
    background: url(../images/twitter.png) no-repeat;
  }
}

// Groups Feature.

.view-group-users {
  .views-row {
     padding: 0 0 emCalc(5);
     @extend .columns;
     @extend .large-3;
     @extend .small-2;
  }
}

.view-subgroups li {
  list-style-type: none;
}

// Message Feature.

.message {
  margin-bottom: emCalc(5);
  p {
    margin: 0;
  }
  .user-picture {
    padding: 0;
    margin-right: .3em;
    float:left;
  }
  .message-details {
    padding: 0;
    overflow: hidden;
  }
  .timestamp {
    font-size: $small-font-size;
  }
}

// Idea Feature.

article.node-idea {
  .flag-outer.flag-outer-idea-vote {
    float: right;
    clear: none;
  }
}

article.node-idea.node-teaser {
  .node-title {
    float: left;
  }
  .body {
    clear: both;
  }
}

.view-idea-votes {
  @extend .panel;
  ol {
    margin-left: 2em;
    margin-top: 1em;
  }
}

// Wiki Feature. 

.block-book-explorer {
  .book-explorer {
    a.active {
      @extend .label;
    }
  }
}

.block-table-of-contents {
  @extend .panel;
  /*float: right;*/
  /*margin-left: 1em;*/
}

.book-navigation .page-links {
  border: 0;
}

.book-navigation .page-links {
  .page-previous, .page-next {
    @extend .button;
    @extend .small;
    /*width: auto;*/
  }
}

// Featured feature.

.flag-featured.flag-edit {
  @extend .button;
  @extend .small;
}
