// General.

.posted .user-picture {
  display: inline;
}

.new {
  @extend .label;
}

.field {
  margin-bottom: emCalc(10px);
}

ul.links.inline {
  float: right;
  font-size: $small-font-size;
  li {
    display: inline;
    list-style-type: none;
    margin-right: 1em;
  }
}

// Groups Feature.

.view-group-users {
  .views-row {
     padding: 0 0 emCalc(10px);
     @extend .columns;
     @extend .large-3;
     @extend .small-2;
  }
}

.view-subgroups li {
  list-style-type: none;
}

// Message Feature.

.message {
  font-size: $small-font-size;
  p {
    margin: 0;
  }
  .user-picture {
    padding: 0;
    @extend .columns;
    @extend .large-3;
    @extend .small-3;
  }
  .message-details {
    padding: 0;
    @extend .columns;
    @extend .large-9;
    @extend .small-9;
  }
  .timestamp {
    font-size: .75em;
    color: #bbbbbb;
  }
}

.l-header-region {
  background-color: #F4EBE6;
}

// Project Feature.

.accordion > section > .content { 
  border: none !important; 
} 

.accordion > section.active > .content { 
  display: block; 
  width: 100%;
  position: relative;
}

// Idea Feature.

.flag-idea-vote a {
  @extend .button;
  @extend .tiny;
  @extend .success;
  @extend .radius;
}

.view-idea-votes {
  @extend .panel;
}

// Wiki Feature. 

.book-explorer {
  font-size: $small-font-size;
  a.active {
    @extend .label;
  }
}
