ul.links.inline {
  float: right;
  font-size: $small-font-size;
  li {
    display: inline;
    list-style-type: none;
  }
}

.view-group-users .view-content {
  .views-row {
     padding: 0 0 emCalc(10px);
     @extend .columns;
     @extend .large-3;
     @extend .small-2;
  }
}

.view-recent-activity .views-row {
  margin-bottom: emCalc(10px);
  .user-picture {
    padding: 0;
    @extend .columns;
    @extend .large-3;
    @extend .small-3;
  }
  .message-details {
    padding: 0;
    @extend .columns;
    @extend .large-9;
    @extend .small-9;
  }
}

.view-subgroups li {
  list-style-type: none;
}

.posted .user-picture {
  display: inline;
}

.block-collabco-groups-feature-group-header {
  h1 {
    display: inline;
  }
  .privacy-status {
    @extend .label;
    background-color: #874646;
    display: inline;
    top: emCalc(-7px);
  }
  .field-name-group-group {
    font-size: $small-font-size;
    float: right;
    top: 4em;
    position: relative;
  }
}

.add-content {
  @include button;
  @include dropdown-button;
}

.add-content-links {
  li {
    list-style-type: none;
  }
  a {
    @extend .small;
    @extend .button;
  }
}
 
.field {
  margin-bottom: emCalc(10px);
}

.comment-form button {
  @extend .small;
}

.accordion > section > .content { 
  border: none !important; 
} 

.accordion > section.active > .content { 
  display: block; 
  position: relative;
}


.sidebar-second {
  @extend .divider-left;
}

.sidebar-second section.block {
  @extend .divider-bottom;
}

#search-block-form {
  .form-text {
    height: emCalc(60px);
  }
  button {
    position: absolute;
    right: 10px;
    top: 15px;
    height: 32px;
    width: 32px;
    border: 0;
    cursor: pointer;
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 0.65;
    background: transparent url('../images/search.png') top left no-repeat;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    transition: all 0.4s linear;
    :hover, :focus {
      filter: alpha(opacity=90);
      opacity: 0.9;  
    }
  }
}
