// Theme or skin specific modifiers.
//

/*SECTION -- secondary navigation */

/*@media screen and (max-width: 768px) {*/
  /*.tabs li a {*/
    /*display: block;*/
    /*font-size: .9em;*/
  /*}*/
/*}*/

/*.comment {*/
/*font-size: .8em;*/
     /*background-color:  #f7f7f7;*/
     /*padding: 5px 5px 5px 15px;*/
     /*border:  1px solid #eeeeee;*/
 /*}*/
 
/*.reply {*/
     /*font-size: .7em;*/
     /*float: right;*/
     /*margin-top: -10px;*/
 /*}*/
 
/*MISCELLANOUS - web fonts */
/*using webfonts for icons as they scale without pixellation*/      
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: 500;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;


	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bulb:before {
	content: "\e600";
}
.icon-file:before {
	content: "\e601";
}
.icon-home:before {
	content: "\e602";
}
.icon-bubbles:before {
	content: "\e607";
}


