// Theme or skin specific modifiers.
//

.tabs {
  padding-top: .9em;
  margin: 1em;
}

.tabs ul {
  list-style: none;
}

.tabs li {
  display: inline;
}

@media screen and (max-width: 768px) {
.tabs li a {
	display: block;
	font-size: .9em;
	}
}

/*just an indication of how to handle the menu, not production worthy code by a long stretch */

.tabs li a {
	padding: 1em;
	color: #7d929a;
}

.tabs li a:hover {
	background: #464646;
	color: #fff;
}

.tabs .active > a {
color: #464646;
background: #fff;
}

/*SECTION - widget area*/

.divider-left {
  border-left:  1px solid #dddddd;
}

.divider-bottom {
  border-bottom:  1px solid #dddddd;
  padding-bottom: emCalc(5px);
  margin-bottom: emCalc(15px);
}

@media screen and (max-width: 768px) {
.divider-left {
	border-left:  0px solid #fff;
	}
}

.side h4 {
	font-size: 1.2em;
	font-weight: 500;
}

.side p {
	font-size: 0.95em;
	font-weight: 500;
	margin-top: 15px;
}


.comment {
font-size: .8em;
 	background-color:  #f7f7f7;
 	padding: 5px 5px 5px 15px;
 	border:  1px solid #eeeeee;
 }
 
.reply {
 	font-size: .7em;
 	float: right;
 	margin-top: -10px;
 }
 
p.timestamp {
 	font-size: .75em;
 	color: #bbbbbb;
 	margin-top: -20px;
 }

/*MISCELLANOUS - typography */
h2 {
	font-weight: 500;
	color: #393939;
}

h3 {
	font-size: 18px;
	color: gray;
	margin-top: 20px;
}

.label {
	font-size: .6em;
	padding: 6px;
}  

.intro {
	font-size: 1.4em;
} 




/*MISCELLANOUS - web fonts */
/*using webfonts for icons as they scale without pixellation*/      
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: 500;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;


	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bulb:before {
	content: "\e600";
}
.icon-file:before {
	content: "\e601";
}
.icon-home:before {
	content: "\e602";
}
.icon-bubbles:before {
	content: "\e607";
}


