// Non-modular or client styles for the .l-content region.

.l-main {}

.main {
  overflow: auto;
}

// Facebook style layout with picture alone in left column.
article.node {
  @extend %divider-bottom;

  div.user-picture {
    float: left;
    margin-right: .5em;
  }

  div.node-content {
    overflow:hidden;
    clear:none;
  }

  .body p {
    margin-bottom: emCalc(4);
  }
}

.body {}
.image {}
.breadcrumb {}

.field {
  margin-bottom: $vertical-spacer;
}

// Inline links small, lower right.
ul.links.inline {
  float: right;
  clear: both;
  font-size: $small-font-size;
  margin-bottom: emCalc(4);
  li {
    display: inline;
    list-style-type: none;
    margin-left: emCalc(15);

    /*a {*/
      /*@extend .button;*/
      /*@extend .tiny;*/
    /*}*/
  }
}

//////////////////////
// Comments
//////////////////////

// Small, tight comment layout.
.comment {
  /*margin-bottom:1em;*/
  .user-picture {
    img {
      width: $comment-pic-width;
    }
  }
  .content {
    clear: right;
    overflow: hidden;
  }
}

// Divider between content and comments.
.comment-wrapper {
  @extend %divider-top;
}

// Node and comment submitted/posted string.
.posted, .submitted {
  span {
    font-size: $small-font-size;
  }
  a.username {
    border-right: 1px solid;
    padding: 0 .3em;
  }
}

// New comment label.
.new {
  @extend .label;
  @extend .success;
}

