// Docs: http://foundation.zurb.com/docs/components/buttons.html
//
// Before adding styles be sure to modify variables in the
// "scss/_variables.scss" file.

.button {}

.add-content {
  margin-bottom: 0;
  @include button;
  @include dropdown-button;
}

.add-content-links {
  li {
    list-style-type: none;
  }
  a {
    @extend .small;
    @extend .button;
  }
}
 
.comment-form button {
  @extend .small;
}

ul.button-group {
  a.secondary.active {
    background-color: darken($secondary-color,15%);
  }
}

.flag-idea-vote {
  a {
    @extend .button;
    @extend .small;
    @extend .success;
    @extend .radius;
  }
  a.unflag-action {
    @extend .secondary;
  }
}
