// Docs: http://foundation.zurb.com/docs/components/buttons.html
//
// Before adding styles be sure to modify variables in the
// "scss/_variables.scss" file.

.button {}

.add-content {
  margin-bottom: emCalc(5);
  @extend .button;
  @extend .secondary;
  @extend .dropdown;
}

.add-content-links {
  li {
    list-style-type: none;
  }
  a {
    @extend .small;
    @extend .button;
    @extend .secondary;
  }
}
 
.comment-form button {
  @extend .small;
}

ul.button-group {
  a.secondary {
    background-color: lighten($secondary-color,7%);
    color: lighten($body-font-color,30%);
    border-color: #EEE;
    @extend .tiny;
  }
  a.secondary.active {
    background-color: lighten($secondary-color,4%);
  }
}

// Idea feature.

.flag-idea-vote {
  a {
    @extend .button;
    @extend .small;
    @extend .success;
    @extend .radius;
  }
  a.unflag-action {
    @extend .secondary;
  }
}

// Featured feature.

.flag-featured.flag-edit {
  @extend .button;
  @extend .small;
  @extend .secondary;
}
